.chat-list__item{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.chat-list__item:hover{
    background: rgba(255,255,255,0.2);
}

.selected:hover{
    background: #F23F79;
}

.avatar{
  min-width: 75px;
  height: 75px;
  border-radius:50%;
  background: #888 url("../../../assets/images/user.png") no-repeat center/cover;
}


/*-----online status---*/
.online{
  position: relative;
}
.online::after{
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightgreen;
  }
   
.chat-list__item span{
    display: none;
    align-self: center;
    padding: 2px 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
    color: rgba(255,255,255,0.5);
}
 
.chat-list__item__content{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.chat-list__item__content h4{
    font-weight: normal;
    margin-bottom: 10px;
    color: #fff;
}

/*---Selected list item-----*/
.selected{
    background: #F23F79;
}

.selected time{
    background: #fff;
    color: #F23F79;
}

/*----Open Sidebar-----*/

.open .chat-list__item__content{
    display: flex;
}

.open span{
    display: inline-block;
}

/* ================================= 
  Media Queries
==================================== */

    @media (max-width: 700px) {

        .avatar{
            min-width: 50px;
            height: 50px;
        }

        .chat-list__item:not(.open){
            padding-left:0.5rem;
            padding-right: 0.5rem;
        }
}