/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 0.85rem/1.5 'Arial', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

input,
button{
  border: none;
  outline: none;
}