<img *ngIf="!messages" src="../../../assets/images/loading.gif" alt="loading">
<ul class="messages-list">
  <li class="messages-list__item" *ngFor="let message of messages"
  [ngClass]="{'incoming': logedUser === message.user.username,
  'outgoing': logedUser !== message.user.username}"
  >
    <div class="avatar"></div>
    <p class="messages-list__item__content">{{message.msg}}
      <time>{{ message.time | date:"MMM d, H:mm" }}</time>
      <span>{{message.user.username}}</span>
    </p>
  </li>
</ul>
<div *ngIf="join" class="pop-up">{{user.user.username}} joined chat</div>